.speaker-icon {
    font-size: 30px;
}
.Phonetics button {
    color: #33414A;
    border: none;
    background: none;
    padding: 0 0 0 15px;
}
.Phonetics button:hover {
    color: #88AEC5;
}

.Phonetics span {
font-size: 20px;
display: flex;
justify-content: center;
align-content: center;
}